/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-heading {
  margin-top: 1.5rem!important;
}

.portfolio-item {
  margin-bottom: 30px;
}

.page-title {
  padding-top: 25px;
}

.single-page-heading{
  font-weight: bold;
}

.page-sub-header {
  font-size: 1.2rem;
  color:#696969;
}

.testimonial-block {
  padding: .75rem 1rem;
}
