<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand" href="index.html">RP Performance</a> -->
        <a class="navbar-brand" href="index.html"><img src="img/logo.gif" height="60" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRacing" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Racing
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownRacing">
                        <a class="dropdown-item" href="racing.html">Race Programs</a>
                        <a class="dropdown-item" href="racing.html#rental">Race Car Rental</a>
                        <a class="dropdown-item" href="racing.html#arrivedrive">Arrive and Drive</a>
                        <a class="dropdown-item" href="racing.html#hpde">Test and HPDE</a>
                        <a class="dropdown-item" href="racing.html#schedule">Race Schedule</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServices" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownServices">
                        <a class="dropdown-item" href="services.html">Overview</a>
                        <a class="dropdown-item" href="services-dyno.html">Dyno</a>
                        <a class="dropdown-item" href="services-chassis.html">Chassis Setup</a>
                        <a class="dropdown-item" href="services-engine.html">Engine Service</a>
                        <a class="dropdown-item" href="services-race-prep.html">Race Preparation</a>
                        <!-- <a class="dropdown-item" href="services-restoration.html">Restoration</a> -->
                        <!-- <a class="dropdown-item" href="services-roadcar.html">Street car service</a> -->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProducts" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProducts">
                        <a class="dropdown-item" href="cars.html">Cars for Sale</a>
                        <a class="dropdown-item" href="products.html">Vendors</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbout" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAbout">
                        <a class="dropdown-item" href="about.html">History</a>
                        <a class="dropdown-item" href="about-crew.html">Crew</a>
                        <a class="dropdown-item" href="about-driver.html">Drivers</a>
                        <a class="dropdown-item" href="about-testimonial.html">Testimonials</a>
                        <a class="dropdown-item" href="blog-home-1.html">Blog</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>